@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: 'Silkscreen';
    src: url(../fonts/Silkscreen/Silkscreen-Regular.ttf);
}
#section1, footer {
    background-color: #1f2937;
}
h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    font-family: 'Roboto', sans-serif;
}
.headerLink, h5 {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}
h2 {
    font-size: 24px;
    color: #f9faf8;
    font-family: 'Silkscreen', sans-serif;
}
#signUpButton1, #section4_box {
    background-color: #3882f6;
}
h3 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
#section3 {
    background-color: #e5e7eb;
}
#inspiring_quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
    text-align: left;
}
#section1, #section2, #section3, #section4, footer {
    /*border: 5px solid red;*/
    padding: 5%;
}
#container {
    display: flex;
    flex-direction: column;
    text-align: center;
}
#section1_header {
    display: flex;
    justify-content: space-between;
}
#headerLogo, #headerLinks {
    /*border: 2px solid blue;*/
}
#section1_header, #section4_left, #section4_right{
    /*border: 2px solid green;*/
}
body {
    font-family: sans-serif;
}
#signUpButton1 {
    border-radius: 10%;
    border-style: none;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: .6em;
    padding-bottom: .6em;
    align-items: center;
    color: white;
}
#section1_body {
    display: flex;
}
#section1_left, #section1_right {
    width: 50%;
    text-align: left;
}
#firstSectionImage {
    width: 80%;
    height: 60%;
    padding-top: 5%;
}
#section2_bottom {
    display: flex;
    justify-content: space-around;
}
.section2_imageAndText {
    max-width: 25%;
    margin: 2%;
}
.section2_image {
    width: 100%;
    height: 50%;
    border-radius: 5%;
}
#quote_writer {
    text-align: right;
}
#section4_box {
    border-radius: 2%;
    display: flex;
    justify-content: space-around;
}
#signUpButton2 {
    border-radius: 10%;
    border: 1.5px solid whitesmoke;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: .6em;
    padding-bottom: .6em;
    align-items: center;
    color: white;
    background-color: #3882f6;
    margin-top: 40%;
}
h4, #section4_text {
    color: white;
}
#section4_right, #section4_left {
    padding-left: 2%;
    padding-right: 2%;
    text-align: left;
}
small {
    color: white;
}
#headerLinks {
    display: flex;
    padding: 2%;
    width: max-content;
}
.headerLink {
    /*border: 2px solid blueviolet;*/
    margin: 15%;
    padding: 7%;
}
.header_text {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
